@model NoonAdminMvcCore.Models.CategoryViewModel


<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">
                    @(Model == null ? "Add New Category" : "Edit Category")
                </h3>
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="card card-bordered">
            <div class="card-inner">

                <form method="post" enctype="multipart/form-data" asp-controller="Category" asp-action="Create">
                    <div class="row gy-4">

                        @*For security*@
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)

                        <div class="col-xl-3 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name, "Name", new { @class = "form-label" })
                                <div class="form-control-wrap">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "tex-danger" })
                                </div>
                            </div>
                        </div>
                        <!--col-->
                        <div class="col-xl-3 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NameArabic, "NameArabic", new { @class = "form-label" })
                                <div class="form-control-wrap">
                                    @Html.TextBoxFor(m => m.NameArabic, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NameArabic, null, new { @class = "tex-danger" })
                                </div>
                            </div>
                        </div>
                        <!--col-->
                        <div class="col-xl-3 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Description, "Description", new { @class = "form-label" })
                                <div class="form-control-wrap">
                                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "tex-danger" })
                                </div>
                            </div>
                        </div>
                        <!--col-->
                        <div class="col-xl-3 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.DescriptionArabic, "DescriptionArabic", new { @class = "form-label" })
                                <div class="form-control-wrap">
                                    @Html.TextBoxFor(m => m.DescriptionArabic, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DescriptionArabic, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ParentID, "Category", new { @class = "form-label" })
                                <div class="form-control-wrap">
                                    @Html.DropDownListFor(m => m.ParentID, ViewBag.category as SelectList, new { @class = "form-select js-select2" })
                                </div>
                            </div>
                        </div>

                        <!--col-->
                        <div class="col-xl-3 col-md-4">
                            <div class="form-group">

                                @Html.LabelFor(m => m.image, "ImageName", new { @class = "form-label" })
                                <div class="form-control-wrap">
                                    @Html.EditorFor(m => m.image, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">@(Model == null ? "Add Category" : "Edit Category") </button>
                            </div>
                        </div>
                        <!--row-->
                    </div>
                </form>

            </div><!-- .card -->
        </div><!-- .nk-block -->
    </div>
</div>

@section Scripts
{
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<!--#region jquery scripts -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"
        type="text/javascript"></script>
<!-- #endregion -->

<script type="text/javascript">
    //$(document).ready(function () {
    //    var treeData = [
    //        {
    //            id: 1,
    //            text: "Category 0",
    //            nameArabic: "صنف0",
    //            description: "HHHHHHHHHHH",
    //            descriptionArabic: "هههههههههههههههه",
    //            nodes: [
    //                {
    //                    id: 2,
    //                    text: "Category 1",
    //                    nameArabic: "صنف1",
    //                    description: "HHHHHHHHHHH",
    //                    descriptionArabic: "هههههههههههههههه",
    //                    parentId: 1,
    //                    nodes: [
    //                        {
    //                            id: 5,
    //                            text: "Category 4",
    //                            nameArabic: "صنف4",
    //                            description: "HHHHHHHHHHH",
    //                            descriptionArabic: "هههههههههههههههه",
    //                            parentId: 2,
    //                        },
    //                        {
    //                            id: 6,
    //                            text: "Category 5",
    //                            nameArabic: "صنف5",
    //                            description: "HHHHHHHHHHH",
    //                            descriptionArabic: "هههههههههههههههه",
    //                            parentId: 2,
    //                        },
    //                        {
    //                            id: 7,
    //                            text: "Category 6",
    //                            nameArabic: "صنف6",
    //                            description: "HHHHHHHHHHH",
    //                            descriptionArabic: "هههههههههههههههه",
    //                            parentId: 2,
    //                        },
    //                    ],
    //                },
    //                {
    //                    id: 3,
    //                    text: "Category 2",
    //                    nameArabic: "صنف2",
    //                    description: "HHHHHHHHHHH",
    //                    descriptionArabic: "هههههههههههههههه",
    //                    parentId: 1,
    //                },
    //                {
    //                    id: 4,
    //                    text: "Category 3",
    //                    nameArabic: "صنف3",
    //                    description: "HHHHHHHHHHH",
    //                    descriptionArabic: "هههههههههههههههه",
    //                    parentId: 1,
    //                },
    //            ],
    //        },
    //        {
    //            id: 8,
    //            text: "Category 7",
    //            nameArabic: "صنف7",
    //            description: "HHHHHHHHHHH",
    //            descriptionArabic: "هههههههههههههههه",
    //            nodes: [
    //                {
    //                    id: 9,
    //                    text: "Category 8",
    //                    nameArabic: "صنف8",
    //                    description: "HHHHHHHHHHH",
    //                    descriptionArabic: "هههههههههههههههه",
    //                    parentId: 8,
    //                },
    //                {
    //                    id: 10,
    //                    text: "Category 9",
    //                    nameArabic: "صنف9",
    //                    description: "HHHHHHHHHHH",
    //                    descriptionArabic: "هههههههههههههههه",
    //                    parentId: 8,
    //                },
    //                {
    //                    id: 11,
    //                    text: "Category 10",
    //                    nameArabic: "صنف10",
    //                    description: "HHHHHHHHHHH",
    //                    descriptionArabic: "هههههههههههههههه",
    //                    parentId: 8,
    //                },
    //            ],
    //        },
    //    ];

    //    $("#myTree").treeview({
    //        data: treeData,
    //        icon: "glyphicon glyphicon-bookmark",
    //        selectedIcon: "glyphicon glyphicon-bookmark",
    //        color: "dark",
    //        selectedColor: "white",
    //        expandIcon: "glyphicon glyphicon-plus",
    //        collapseIcon: "glyphicon glyphicon-minus",
    //        nodeIcon: "glyphicon glyphicon-bookmark",
    //        showTags: true,
    //    });
    //});
</script>

<script>
    document.getElementById()
</script>
}