@model List<EFModel.Models.User>

@{
    <div class="nk-tb-item nk-tb-head">
        <div class="nk-tb-col">
            <span class="sub-text">User</span>
        </div>
        <div class="nk-tb-col tb-col-mb">
            <span class="sub-text">Balance</span>
        </div>
        <div class="nk-tb-col tb-col-md">
            <span class="sub-text">Phone</span>
        </div>
        <div class="nk-tb-col tb-col-lg">
            <span class="sub-text">City</span>
        </div>
        <div class="nk-tb-col tb-col-lg">
            <span class="sub-text">Created At</span>
        </div>
        <div class="nk-tb-col tb-col-md">
            <span class="sub-text">Status</span>
        </div>
        <div class="nk-tb-col nk-tb-col-tools">
            <ul class="nk-tb-actions gx-1 my-n1">
            </ul>
        </div>
    </div>
    <!-- .nk-tb-item -->
    foreach (var user in Model)
    {
        <div class="nk-tb-item">

            <div class="nk-tb-col">
                <a href="html/user-details-regular.html">
                    <div class="user-card">
                        <div class="user-avatar bg-primary">
                            <span><img src="~/Images/@user.ImageProfile" /></span>
                        </div>
                        <div class="user-info">
                            <span class="tb-lead">
                                @user.FirstName @user.LastName <span class="dot dot-success d-md-none ms-1"></span>
                            </span>
                            <span>@user.Email</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="nk-tb-col tb-col-mb">
                <span class="tb-amount">
                    @user.Balance <span class="currency">EGP</span>
                </span>
            </div>
            <div class="nk-tb-col tb-col-md">
                <span>@user.PhoneNumber</span>
            </div>
            <div class="nk-tb-col tb-col-lg">
                <span>@user.Addresses.FirstOrDefault(a => a.User.Id == user.Id)!.City</span>
            </div>
            <div class="nk-tb-col tb-col-lg">
                <span>@user.CreatedAt.ToShortDateString()</span>
            </div>
            <div class="nk-tb-col tb-col-md">
                @if (user.IsActive)
                {
                    <span class="tb-status text-success">Active</span>
                }
                else
                {
                    <span class="tb-status text-danger">Suspended</span>
                }

            </div>
            <div class="nk-tb-col nk-tb-col-tools">
                <ul class="nk-tb-actions gx-1">
                    <li class="nk-tb-action-hidden">
                        <a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Send Email">
                            <em class="icon ni ni-mail-fill"></em>
                        </a>
                    </li>
                    <li class="nk-tb-action-hidden">
                        <a href="#" class="btn btn-trigger btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Suspend">
                            <em class="icon ni ni-user-cross-fill"></em>
                        </a>
                    </li>
                    <li>
                        <div class="drodown">
                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown">
                                <em class="icon ni ni-more-h"></em>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <ul class="link-list-opt no-bdr">
                                    @if (@ViewBag.Role == "Customer")
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "Order", new {Id = user.Id})">
                                                <em class="icon ni ni-repeat"></em><span>Orders</span>
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                    }


                                    <li>
                                        @Html.ActionLink("Suspend", "Suspend", "User",
                                new{@id = user.Id,
                                @role = @ViewBag.Role,
                                @currentFilter = @ViewBag.Search,
                                @pageNumber = @ViewBag.Page,
                                })
                                    </li>

                                    <li>
                                        @Html.ActionLink("Activate", "Activate", "User",
                                new{@id = user.Id,
                                @role = @ViewBag.Role,
                                @currentFilter = @ViewBag.Search,
                                @searchString = @ViewBag.Search,
                                @pageNumber = @ViewBag.Page,
                                })
                                    </li>

                                    <li>
                                        @Html.ActionLink("Edit", "Edit", new { id = user.Id })
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    }
}