@using NoonAdminMvcCore.Models
@model OrderViewModel

<form method="post" asp-action="Edit">

    <input hidden asp-for="@Model.Id" class="form-control" />

    <div class="form-group">
        <label class="text-muted" asp-for="@Model.DeliveryStatus"></label>
        <select class="form-control" asp-for="@Model.DeliveryStatus">
            <option value="@EFModel.Enums.DeliveryStatus.Processing" class="text-primary">  Processing </option>
            <option value="@EFModel.Enums.DeliveryStatus.Shipped" class="text-info">  Shipped </option>
            <option value="@EFModel.Enums.DeliveryStatus.Delivered" class="text-success">  Delivered </option>
            <option value="@EFModel.Enums.DeliveryStatus.Returned" class="text-danger">  Returned </option>
            <option value="@EFModel.Enums.DeliveryStatus.Cancelled" class="text-warning">  Cancelled </option>
        </select>
        <span asp-validation-for="@Model.DeliveryStatus" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.DeliveryStatusDescription" class="text-muted"></label>
        <input asp-for="@Model.DeliveryStatusDescription" class="form-control" />
        <span asp-validation-for="DeliveryStatusDescription" class="text-danger"> </span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.ShipperId" class="text-muted">Shipper</label>
        <select asp-for="@Model.ShipperId" class="form-select js-select2">


            @foreach (var shipper in Model.Shippers)
            {
                <option value="@shipper.Id">@shipper.FirstName @shipper.LastName</option>
            }
        </select>

    </div>

    <button class="btn btn-primary">
        UPDATE
    </button>


</form>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
 }
}